h1{
    text-align: center;
    color: rosybrown;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
height: 18vmin;
width: 18vmin;
border: none;
box-shadow: aqua;
border-radius: 1rem;
font-size: 8vmin;
color: brown;
 
}
.game{
 height: 60vmin;
 width: 60vmin;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 1.5vmin;
}

#reset{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#win{
    color: #fff;
    font-size: 5vmin;
}

.msgcontainer{
    height: 70vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hide{
     display: none; 
}
